@import '../../Common/Mixin.scss';
.change{
  margin-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 40px 280px;
  }


  .changepasswordform{
    background-color: white;
    box-shadow: rgb(213, 199, 240) 0px 7px 20px 0px;
    color: black;
    border-radius: 20px;
    height: 500px;
    width: 380px;
    text-align: center;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    outline: 2px solid black;
    outline-offset: 10px;
    gap: 10px;
    padding: 10px 20px;

    h1{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .textfield{
      display: flex;
      flex-direction: column;
      gap: 5px; 
    }
    input{
        width: 700px;
        height: 30px;
    }
  
    button{
        width: 380px;
        margin-top: 20px;
        height: 40px;
        font-size: 20px;
        background-color: dodgerblue;
        color: white;
    }

    h3{
      font-size: 20px;
      margin-top: 30px;
    }

  } 
  @include hed{
    .forgot{
      width: 90%;
      margin: 0 auto;
    }
    .passwiordform{
      width: 100%;
      height: auto;

      input {
        width: 70%;
      }

      button {
        width: 100%;
      }
    }
  }